<div class="dialog-title">
    <h2 class="text-center"
        mat-dialog-title
        *ngIf="!editMode; else editModeTitle">
        {{ 'NEW-COUNTDOWN.NEW-TITLE' | translate | uppercase }}
    </h2>

    <ng-template #editModeTitle>
        <h2 class="text-center"
            mat-dialog-title>
            {{ 'NEW-COUNTDOWN.EDIT-TITLE' | translate | uppercase }}
        </h2>
    </ng-template>

    <button class="close-dialog-icon"
            [mat-dialog-close]="true">
        <div class="close-icon "></div>
        <div class="close-icon"></div>
    </button>
</div>


<mat-dialog-content>
    <form class="date-form"
          [formGroup]="countdownForm">

        <!-- NAME INPUT -->
        <div class="name">
            <label for="name"
                   class="label-input">{{ 'NEW-COUNTDOWN.NAME' | translate | titlecase }}</label>
            <div class="input-wrapper">
                <input type="text"
                       id="name"
                       class="input name-input"
                       [class.invalid]="submitted && !isValid('name')"
                       autocomplete="off"
                       formControlName="name"
                       autofocus>
                <div class="invalid-name-msg"
                     *ngIf="submitted && !isValid('name')">
                    <small>{{ 'NEW-COUNTDOWN.INVALID-NAME' | translate }}</small>
                </div>
            </div>
        </div>
        <!-- DATE INPUT -->
        <div class="date-inputs">
            <div class="day-input flex-column justify-content-center pointer "
                 (click)="picker.open()"
                 [class.invalid]="submitted && !isValid('day')">
                <div class="flex-row">
                    <img src="../../assets/icons/calender-front-color-80x80.webp"
                         alt="Calender icon">
                    <div class="day-display flex-column align-items-center">
                        <label for="date"
                               class="label-input pointer">
                            {{ "NEW-COUNTDOWN.DATE" | translate | titlecase }}
                        </label>
                        <span *ngIf="getValue('day'); else dateFormat"
                              class="unselect">
                            {{ getValue('day') | dateFormat }}
                        </span>
                        <ng-template #dateFormat>
                            {{ 'NEW-COUNTDOWN.DATE-FORMAT' | translate | uppercase }}
                        </ng-template>
                    </div>
                </div>
                <input class="date-selector opacity-0"
                       placeholder="{{ 'NEW-COUNTDOWN.DATE-FORMAT' | translate | uppercase }}"
                       matInput
                       [matDatepicker]="picker"
                       [matDatepickerFilter]="filterDates"
                       formControlName="day">
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <!-- TIME INPUT -->
            <div class="time-input"
                 [class.invalid]="submitted && (!isValid('hour') || !isValid('minute'))">
                <div class="time-selector">
                    <img src="../../assets/icons/clock-front-color-80x80.webp"
                         alt="">
                    <div class="timer">
                        <div class="hours">
                            <button class="btn-arrow pointer"
                                    (click)="increase('hour')">
                                <img src="../../assets/icons/arrow-clay-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit dark-theme-icon">
                                <img src="../../assets/icons/arrow-clay-color-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit light-theme-icon">
                            </button>
                            <input type="number"
                                   class="hour-input text-center"
                                   formControlName="hour"
                                   placeholder="00"
                                   [class.invalid]="submitted && !isValid('hour')">
                            <button class="btn-arrow pointer"
                                    (click)="reduce('hour')">
                                <img src="../../assets/icons/arrow-clay-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit down-arrow dark-theme-icon">
                                <img src="../../assets/icons/arrow-clay-color-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit down-arrow light-theme-icon">
                            </button>
                        </div>
                        <span class="clock-dots unselect">:</span>
                        <div class="minutes">
                            <button class="btn-arrow pointer"
                                    (click)="increase('minute')">
                                <img src="../../assets/icons/arrow-clay-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit dark-theme-icon">
                                <img src="../../assets/icons/arrow-clay-color-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit light-theme-icon">
                            </button>
                            <input type="number"
                                   class="minute-input text-center"
                                   formControlName="minute"
                                   [class.invalid]="submitted && !isValid('minute')">
                            <button class="btn-arrow pointer"
                                    (click)="reduce('minute')">
                                <img src="../../assets/icons/arrow-clay-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit down-arrow dark-theme-icon">
                                <img src="../../assets/icons/arrow-clay-color-80x80.webp"
                                     alt="Flecha con forma triangular"
                                     width="30"
                                     class="icon-time-edit down-arrow light-theme-icon">
                            </button>
                        </div>
                    </div>
                    <div class="invalid-time-msg"
                         *ngIf="submitted && (!isValid('hour') || !isValid('minute'))">
                        <small>{{ 'NEW-COUNTDOWN.INVALID-TIME' | translate }}</small>
                    </div>
                </div>

            </div>
            <div class="invalid-date-msg"
                 *ngIf="submitted && !isValid('day')">
                <small>{{ 'NEW-COUNTDOWN.INVALID-DATE' | translate }}</small>
            </div>
        </div>
        <!-- CAPTION INPUT -->
        <div class="caption">
            <label for="caption">
                {{ "NEW-COUNTDOWN.CAPTION" | translate | titlecase }}
                <span class="muted">({{ "NEW-COUNTDOWN.OPTIONAL" | translate }})</span>
            </label>
            <textarea class="input"
                      type="text"
                      id="caption"
                      rows="3"
                      formControlName="caption"></textarea>
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-submit"
            (click)="submit()"
            *ngIf="!editMode; else editModeButton">
        {{ "NEW-COUNTDOWN.CREATE" | translate | titlecase }}
    </button>
    <ng-template #editModeButton>
        <button class="btn-submit"
                (click)="edit()">
            {{ "NEW-COUNTDOWN.EDIT" | translate | titlecase }}
        </button>
    </ng-template>
</mat-dialog-actions>


<!-- <pre style="margin-top: 50px"> -->
<!-- FORM VALUES -->
<!-- <strong>name:</strong> {{ getValue('name') }} | {{ isValid('name')}} | {{  getError('name') | json }} -->
<!-- <strong>day:</strong>  {{ getValue('day') }} | {{ isValid('day')}} | {{  getError('day') | json }} -->
<!-- <strong>fullDay:</strong>  {{ getValue('fullDay') }} | {{ isValid('fullDay')}} | {{  getError('fullDay') | json }} -->
<!-- <strong>hour:</strong>  {{ getValue('hour') }} | {{ isValid('hour')}} | {{  getError('hour') | json }} -->
<!-- <strong>minute:</strong>  {{ getValue('minute') }} | {{ isValid('minute')}} | {{  getError('minute') | json }} -->
<!-- <strong>caption:</strong>  {{ getValue('caption') }} | {{ isValid('caption')}} | {{  getError('caption') | json }} -->
<!-- </pre> -->