nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.settings{
    display: flex;
    gap: 50px;

    & > div {
        display: flex;
        align-items: center; 
    }
}

// Material dropdown

.lang-option{
    display: flex;
    align-items: center;  

    .flag-lang{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        overflow: hidden;
        object-fit: cover;
    }
}

// Custom Dropdown

.lang-dropdown{
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none;

    option{
        background-color: var(--bg-color);
        border:none;

        .es-lang::before{
            content: '';
            background-color: red;
            width: 30px;
            background-image: url(../../../assets/flags/spain-flag-80x53.webp);
        }
    }

}


.theme-selector{
    display: flex;
    align-items: center;
    gap: 10px;
}

.moon-icon{
    rotate: -30deg;
}