<nav>
    <div class="logo">
        <h1>Logo</h1>
    </div>
    <div class="settings">

        <!-- LANGUAGE DROPDOWN -->
        <div class="custom-list-lang pointer unselect"
             (mouseleave)="langOptionsOpen = false">
            <div class="selected-lang"
                 (click)="langOptionsOpen = !langOptionsOpen">
                <div class="lang-option">
                    <img [src]="langSelected.flag"
                         class="flag-lang">
                    <span class="lang-name">{{ langSelected.name }}</span>
                    <img src="../../../assets/icons/arrow-clay-80x80.webp"
                         alt="flecha"
                         class="lang-arrow-menu dark-theme-icon"
                         width="20"
                         [class.rotate-180]="!langOptionsOpen">
                    <img src="../../../assets/icons/arrow-clay-color-80x80.webp"
                         alt="flecha"
                         class="lang-arrow-menu light-theme-icon"
                         width="20"
                         [class.rotate-180]="!langOptionsOpen">
                </div>
            </div>
            <div class="lang-list"
                 [class.show-lang-list]="langOptionsOpen"
                 (blur)="langOptionsOpen = false">
                <div class="lang-option lang-option-list"
                     *ngFor="let lenguage of langList"
                     (click)="changeLang(lenguage.lang)">
                    <img [src]="lenguage.flag"
                         class="flag-lang">
                    <span class="lang-name muted"> {{ lenguage.name }} </span>
                </div>
            </div>
        </div>

        <!-- THEME SWITCHER -->
        <div class="theme-selector">
            <div class="icon-box"
                 (click)="switchTheme(false)"
                 [class]="darkMode ? 'dark-mode' : 'light-mode'">
                <img src="../../../assets/icons/sun-color_80x80.webp"
                     alt="Sun icon color"
                     class="sun-icon">
            </div>
            <div class="icon-box"
                 (click)="switchTheme(true)"
                 [class]="darkMode ? 'dark-mode' : 'light-mode'">
                <img src="../../../assets/icons/moon-color-80x80.webp"
                     alt="Moon icon color"
                     class="moon-icon">
            </div>
        </div>

        <!-- AUTH -->
        <div class="user-account pointer"
             *ngIf="userData.active; else noUserActive"
             (click)="userOptionsOpen = !userOptionsOpen"
             (mouseleave)="userOptionsOpen = false">
            <div class="user-wrapper">
                <span class="user-name">
                    {{ userData.displayName?.slice(0, userData.displayName?.indexOf(' ')) ||
                     userData.email?.slice(0, userData.email?.indexOf('@')) }}
                </span>
                <img src="../../../assets/icons/arrow-clay-80x80.webp"
                     alt="flecha"
                     class="lang-arrow-menu dark-theme-icon"
                     width="20"
                     [class.rotate-180]="!userOptionsOpen">
                <img src="../../../assets/icons/arrow-clay-color-80x80.webp"
                     alt="flecha"
                     class="lang-arrow-menu light-theme-icon"
                     width="20"
                     [class.rotate-180]="!userOptionsOpen">
            </div>
            <div class="user-options"
                 [class.show-user-options]="userOptionsOpen"
                 (blur)="userOptionsOpen = false">
                <ul>
                    <li class="logout" (click)="logout()">
                        <svg width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.4767 21.2448H8.34067C7.04877 21.3045 5.78536 20.8527 4.82407 19.9876C3.86278 19.1224 3.28099 17.9134 3.2047 16.6224V7.37762C3.28099 6.08659 3.86278 4.87757 4.82407 4.01241C5.78536 3.14724 7.04877 2.69559 8.34067 2.75524H13.4767"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                            <path d="M20.7953 12H7.44174"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-miterlimit="10"
                                  stroke-linecap="round" />
                            <path d="M16.0833 17.136L20.4874 12.7319C20.6802 12.5371 20.7884 12.2742 20.7884 12C20.7884 11.7259 20.6802 11.4629 20.4874 11.2681L16.0833 6.86404"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                        <span> {{ 'NAVBAR.LOGOUT' | translate }} </span>
                    </li>
                </ul>
            </div>
        </div>

        <ng-template #noUserActive>
            <div class="auth-btn-wrapper">
                <button class="btn btn-login text-center"
                        (click)="openAuthDialog(false)">
                    {{ 'NAVBAR.LOGIN' | translate }}
                </button>
                <button class="btn-color text-center"
                        (click)="openAuthDialog(true)">
                    {{ 'NAVBAR.REGISTER' | translate }}
                </button>
            </div>
        </ng-template>
    </div>
</nav>