/* ---------- IMPORTS ----------  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

/* ---------- THEME COLOR ----------  */

.light-theme {
  --bg-color: #eeeeee;
  --bg-color-neutral: #dbdbdb;
  --accent: #b994e4;

  --text-color: #222222;
  --muted: #2222229c;

  --box-shadow: rgba(0, 0, 0, 0.1);
  --icon-shadow: #22222241;
}
.dark-theme {
  --bg-color: #263238;
  --bg-color-neutral: #2f4753;
  --accent: #cf9c3b;

  --text-color: #eceff1;
  --muted: #b4bbbe;

  --box-shadow: #eceff146;
  --icon-shadow: #eceff134;
}

/* ---------- GLOBAL STYLES ---------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

button {
  background-color: var(--bg-color-neutral);
  color: var(--text-color);
  border: none;
  user-select: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

/* ---------- COMMON CLASSES ---------- */

.dialog {
  background-color: red !important;
  border-radius: 30px;
}

.display-none {
  display: none;
}

.drop-shadow {
  filter: drop-shadow(5px 5px 2px var(--icon-shadow));
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.opacity-0 {
  opacity: 0;
}

.muted {
  color: var(--muted);
}

.p-relative {
  position: relative !important;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.unselect {
  user-select: none;
}

.width-100 {
  width: max-content;
}

/* ---------- MAIN PAGE ---------- */

main {
  min-height: calc(90dvh - 110px);
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 30px;
  background-color: var(--bg-color-neutral);
  border-radius: 40px;
}

.countdowns-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.new-countdown-card {
  background-color: var(--bg-color-neutral);
  user-select: none;
  display: grid;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.15s ease-out;

  img {
    margin: 0 auto;
    filter: saturate(0) drop-shadow(5px 5px 5px var(--bg-color));
    transition: 0.2s ease-out;
    scale: 0.95;
  }

  &:hover {
    opacity: 1;
    img {
      filter: saturate(1) drop-shadow(10px 10px 8px var(--bg-color));
      scale: 1;
    }
  }
}

.no-countdowns {
  height: calc(90dvh - 110px);
  width: 100%;
  padding: 50px max(5vw, 30px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    padding: 0 max(5vw, 30px);
    font-size: 2rem;
  }

  p {
    padding: 0 max(5vw, 30px);
    font-size: 1.6rem;
    font-weight: 700;
    opacity: 0.7;
  }

  .arrow-down {
    margin: 0 auto;
    svg {
      margin-top: 10px;
      color: var(--muted);
      opacity: 0.3;
    }
  }
}

// BUTTON NEW COUNTDOWN
.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-first-countdown {
  font-size: 1.8rem;
  background-color: var(--accent);
  color: var(--text-color);
  border: 5px solid var(--bg-color-neutral);
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    border-color: var(--accent);
    background-color: var(--bg-color);
  }
  &:active {
    background-color: var(--bg-color-neutral);
    outline: 10px solid var(--bg-color);
    scale: 0.97;
  }
}

/* ---------- COUNTDOWN CARD ---------- */

.countdown-card {
  background-color: var(--bg-color);
  padding: 15px 20px;
  border-radius: 20px;
  min-height: 200px;
  z-index: 0;
  cursor: pointer;
  transition: .15s ease-out;

  &:hover{
    scale: 1.02;
    // box-shadow: 0 0 10px var(--box-shadow);

    .card-title{
      color: var(--accent);
    }
  }

  .card-title {
    font-size: 1.3rem;
    text-align: center;
  }

  .final-date {
    opacity: 0.7;
  }

  .card-body {
    margin-top: 10px;

    .countdown-time {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .time-slot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 55px;
    }

    .time-number {
      text-align: center;
      font-size: 2.2rem;
      height: 47px;
    }

    .time-description {
      color: var(--accent);
      text-align: center;
      opacity: 0.7;
    }

    .countdown-caption {
      margin-top: 10px;
      color: var(--muted);
      line-height: 1rem;
      max-width: 320px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}


/* ---------- DIALOGS ---------- */

.mat-dialog-container {
  background: var(--bg-color) !important;
  border-radius: 30px !important;
}

.dialog-panel {
  cursor: auto;
  font-size: 1.5rem;
}

.dialog-backdrop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px) saturate(.7);
  background-color: rgba(0, 0, 0, 0.1);
}

// Arrow icons theme

body.dark-theme .light-theme-icon {
  display: none;
}
body.light-theme .dark-theme-icon {
  display: none;
}

/* ---------- COUNTDOWN DIALOG ---------- */

.countdown-dialog {
  background-color: var(--bg-color);
  padding: 15px 20px;
  border-radius: 20px;
  min-height: 200px;
  z-index: 0;
  transition: .15s ease-out;

  .dialog-title {
    font-size: 1.8rem;
    text-align: center;

    h2{
      font-weight: 400;
    }
  }

  .final-date {
    opacity: 0.7;
  }

  .dialog-body {
    margin-top: 50px;

    .countdown-time {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .time-slot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 55px;
    }
    
    .time-number {
      text-align: center;
      font-weight: 100;
      font-size: 5rem;
      // height: 47px;
      line-height: 5rem;
      min-width: 100px;
    }

    .time-description {
      color: var(--accent);
      text-align: center;
      font-weight: 400;
      opacity: 0.7;
    }

    .countdown-caption-dialog {
      margin-top: 40px;
      color: var(--muted);
      font-size: smaller;
      white-space: pre-wrap;
    }
  }
}

/* ---------- BUTTON ---------- */

.btn {
  background-color: var(--bg-color-neutral);
  color: var(--text-color);
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--accent);
}

.btn:active {
  color: var(--bg-color);
  outline: 10px solid var(--bg-color-neutral);
}

.btn-color {
  background-color: var(--accent);
  color: var(--text-color);
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-color:hover {
  background-color: var(--bg-color-neutral);
}

.btn-color:active {
  color: var(--accent);
  outline: 10px solid var(--bg-color-neutral);
}

/* ---------- INPUTS ---------- */

.input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--muted);
  color: var(--text-color);
  margin: 0 10px;
  padding: 2px 10px;
  transition: background-color 0.2s ease, border-bottom 0.2s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &.invalid {
    border-color: red;
  }
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--accent);
  background-color: var(--bg-color-neutral);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--accent);
  -webkit-text-fill-color: var(--text-color);
  box-shadow: 0 0 0px 1000px var(--bg-color) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
  color: var(--text-color);
  background-color: red;
}

/* ---------- ICONS ---------- */

.icon-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  user-select: none;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out;
  }
}
