/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


/* THEME COLOR */

.light-theme{
    --bg-color: #eeeeee;
    --bg-color-neutral: #dbdbdb;
    --accent: #ddbc4f;

    --text-color: #222222;

    --box-shadow: 0 15px 25px rgba(0,0,0, .1);
    --icon-shadow: 5px 5px 2px #22222241;

}
.dark-theme{
    --bg-color: #263238;
    --bg-color-neutral: #2f4753;
    --accent:  #7cc2e2;

    --text-color: #ECEFF1;

    --box-shadow: 0 15px 25px #ECEFF1;
    --icon-shadow: 5px 5px 2px #eceff134;
}

/* GLOBAL STYLES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: .3s ease;
}

/* COMMON CLASSES */

.display-none{
    display: none;
}

.drop-shadow{
    filter: drop-shadow( var(--icon-shadow) );
}

.opacity-0{
    opacity: 0;
}

.muted{
    opacity: .7;
}

.pointer{
    cursor: pointer;
}

.unselect{
    user-select: none;
}

/* ICONS */

.icon-box{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    user-select: none;

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.1));
        transition: .5s ease-out;
    }
}


